.cl-formButtonPrimary {
  background-color: var(--clr-primary);
  color: var(--clr-text-on-primary);
  text-transform: uppercase;


  &:hover,
  &:focus {
    background-color: var(--clr-primary-dimmed);
  }
}

.cl-footerActionLink {
  color: var(--clr-primary);

  &:hover {
    color: var(--clr-primary-dimmed);
  }
}

.cl-badge {
  color: var(--clr-secondary);
  background-color: #000;
}
