.cl-formButtonPrimary {
  background-color: var(--clr-primary);
  color: var(--clr-text-on-primary);
  text-transform: uppercase;


  &:hover,
  &:focus {
    background-color: var(--clr-primary-hover);
  }
}

.cl-formButtonReset {
  &:hover,
  &:focus {
    background-color: var(--clr-primary-background-hover);
  }
}

.cl-footerActionLink {
  color: var(--clr-primary);

  &:hover {
    color: var(--clr-primary-hover);
  }
}
