@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --clr-primary: #ffee32;
    --clr-primary2-hover: #ffee32;
    --clr-secondary: #673ddb;
    --clr-secondary2: #66529c;
    --clr-desert: #868252;
    --clr-background: #33322c;
    --clr-card: #4d485c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    * {
        font-family: "Barlow", sans-serif;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
