@import '@fontsource/barlow';
@import '@fontsource/righteous';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Barlow", sans-serif;
    --font-family: "Barlow", sans-serif;
    --clr-text: #fff;
    --clr-text-on-primary: #000;
    --clr-primary: #ffee32;
    --clr-primary-dimmed: rgba(255, 238, 50, 0.7);
    --clr-secondary: #874DFB;
    --clr-secondary-dimmed: #66529C;
    --clr-background-page: #33322c;
    --clr-background-card: #4d485c;
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

button.font-normal {
    font-weight: 600;
}